<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11E53</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>5</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4E2002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10K549</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0432</string>
	<key>DTXcodeBuild</key>
	<string>4E2002</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>~^@a</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>ファイル追加</string>
			<key>output</key>
			<string>newDocument</string>
			<key>postprocess</key>
			<string>none</string>
			<key>preprocess</key>
			<string>save</string>
			<key>script</key>
			<string>diff</string>
			<key>uuid</key>
			<string>9E56BAFA-D40D-462E-8D9B-B53E41677832</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>~^@c</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>全てクリア</string>
			<key>script</key>
			<string>clear</string>
			<key>uuid</key>
			<string>36047F5B-5307-4ACE-B310-79BCC4FC8B9C</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>~^@s</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>設定ファイルを開く</string>
			<key>output</key>
			<string>newDocument</string>
			<key>preprocess</key>
			<string>none</string>
			<key>script</key>
			<string>setting</string>
			<key>uuid</key>
			<string>71559C60-97DF-4AB3-8DFE-89E0F79D23C0</string>
		</dict>
	</array>
</dict>
</plist>
